/* 
    Removed all the margins and padding for body.
    Changed background to a light beige color.
 */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 216, 199);
}


/* 
    Added spacing between the Alber Einstein text and the navigation links.
    Changed font to Verdana, Geneva, Tahoma, sans-serif for a cleaner look.
    Increased font size to 24px.
    Changed background color to a light brown.
*/
nav {
    justify-content: space-between;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgb(200, 179, 153);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    align-items: center;
    border-bottom: 2px solid rgb(150, 130, 100);
}


/* 
    Using flex for navigation bar and navigation links for better alignment.
*/
nav, #nav-links {
    display: flex;
}

/* 
    Removed bullet points
    Removed default margin
    Added gap between links for better spacing
*/
#nav-links {
    list-style: none;
    margin: 0;
    gap: 20px;
}

/* 
    Cursor is set to pointer when hovering over links.
    Removed unline from the links.
    Changed the color to slight darker brown.
    Added transition effect for change in color.
*/
.header-links {
    cursor: pointer;
    text-decoration: none;
    color: rgb(105, 89, 64);
    transition: color 0.35s;
}

/* 
    Change color to even darker brown when hovering over the links.
*/
.header-links:hover {
    color: rgb(66, 48, 14);
}

/* 
    Does not display the checkbox
*/
#hamburger-checkbox {
    display: none;
}

/* 
    Does not display the hamburger icon by default.
    Changed font weight to bold.
    Changed color to a slight darker brown.
*/
#hamburger {
    display: none;
    font-weight: bold;
    color: rgb(105, 89, 64);
}

/* 
    Adds padding around the main content of 20px.
*/
main {
    padding: 20px;
}

/* 
    Centers the heading text.
    Increases font size to 28px.
*/
#about > h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}


/* 
    Using display flex
    Gap is set to 20px
*/
.about-content {
    display: flex;
    gap: 20px;
}

/* 
    Width is set to 50% of parent
    Font size is 24px
    Text-align is justified
*/
.about-text {
    width: 50%;
    font-size: 24px;
    text-align: justify;
}

/* 
    Image width is half of the parent minus 40 px for the gap
    Border radius 10px
    Added a box shadow
*/
.einstein-tongue-out-image {
    width: 50%;
    height: auto;
    display: block;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}




/* 
    Media query for scrren size less than or equal to 768px (Mainly for phone).
*/
@media (max-width: 768px) {

    /* 
        Hides the navigation links by default.
        Changes the direction of the links to column.
        Positions the links below the navigation bar.
        Adds background color, padding, border-radius and box-shadow for better visibility.
    */
    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: rgb(200, 179, 153);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* 
        Changed the font size to 18px.
    */
    nav {
        font-size: 18px;
    }

    /* 
        Changed the display to block.
        Changed the cursor to pointer.
        Changed the font size to 24px.
    */
    #hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }
}