/* 
    Removed all the margins and padding for body.
    Changed background to a light beige color.
 */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 216, 199);
}


/* 
    Added spacing between the Alber Einstein text and the navigation links.
    Changed font to Verdana, Geneva, Tahoma, sans-serif for a cleaner look.
    Increased font size to 24px.
    Changed background color to a light brown.
*/
nav {
    justify-content: space-between;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgb(200, 179, 153);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    align-items: center;
    border-bottom: 2px solid rgb(150, 130, 100);
}


/* 
    Using flex for navigation bar and navigation links for better alignment.
*/
nav, #nav-links {
    display: flex;
}

/* 
    Removed bullet points
    Removed default margin
    Added gap between links for better spacing
*/
#nav-links {
    list-style: none;
    margin: 0;
    gap: 20px;
}

/* 
    Cursor is set to pointer when hovering over links.
    Removed unline from the links.
    Changed the color to slight darker brown.
    Added transition effect for change in color.
*/
.header-links {
    cursor: pointer;
    text-decoration: none;
    color: rgb(105, 89, 64);
    transition: color 0.35s;
}

/* 
    Change color to even darker brown when hovering over the links.
*/
.header-links:hover {
    color: rgb(66, 48, 14);
}

/* 
    Does not display the checkbox
*/
#hamburger-checkbox {
    display: none;
}

/* 
    Does not display the hamburger icon by default.
    Changed font weight to bold.
    Changed color to a slight darker brown.
*/
#hamburger {
    display: none;
    font-weight: bold;
    color: rgb(105, 89, 64);
}

/* 
    Adds padding around the main content of 20px.
*/
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* 
    Centers the heading text.
    Increases font size to 28px.
*/
section > h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}


/* 
    Using display flex.
    Gap is set to 20px.
*/
.about-content {
    display: flex;
    gap: 20px;
}

/* 
    Width is set to 50% of parent.
    Font size is 24px.
    Text-align is justified.
*/
.about-text {
    width: 50%;
    font-size: 24px;
    text-align: justify;
}

/* 
    Image width is half of the parent minus 40 px for the gap.
    Border radius 10px.
    Added a box shadow.
*/
.einstein-tongue-out-image {
    width: 50%;
    height: auto;
    display: block;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* 
    Made the display flex.
    Centerize the flex content in center.
*/
.publication-files-container {
    display: flex;
    justify-content: center;
}

/* 
    Display is set to flex.
    Position is absolute so it does not consume space.
    Calculated width.
    Adds space between two buttons.
    Translates down by 55px.
*/
.left-right-publication {
    display: flex;
    position: absolute;
    pointer-events: none;
    width: calc(100% - 55px);
    justify-content: space-between;
    transform: translateY(55px);
}

/* 
    Font size is set ot 20px.
    Height is set to 730px.
    Background color for the button has opactiy of 0.4 with slate grey color.
*/
.left-right-publication > button {
    font-size: 20px;
    height: 730px;
    background-color: rgba(112, 128, 144,0.4);
    pointer-events: auto;
}


/* 
    Sets the display to none.
*/
.display-none {
    display: none;
}


.publication-files-links-container {
    display: none;
}

.publication-files-links-container > a {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: rgba(98, 112, 126, 0.747);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.publication-files-links-container > a:hover {
    color: rgb(230, 179, 120);
}

.swipe-gallery {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 11);
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.swipe-gallery > img {
    width: 100%;
    aspect-ratio: 10/7;
    transition: opacity 0.3s ease;
    pointer-events: auto;
    border-radius: 10px;
    cursor: grab;
}

.image-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.image-indicator .bar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #555;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.image-indicator .bar.active {
  background-color: #00bfff;
  box-shadow: 0 0 10px #00bfff;
}


.blog-section {
  background: linear-gradient(to bottom, rgb(192, 165, 133), rgb(154, 128, 97));
  color: #f5f5dc;
  padding: 60px 20px;
  font-family: 'Georgia', serif;
  border-radius: 30px;
}

.blog-container {
  max-width: 800px;
  margin: 0 auto;
}

.blog-title {
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #a1887f;
  padding-bottom: 10px;
}

.blog-post {
  margin-bottom: 60px;
}

.blog-heading {
  font-size: 1.8em;
  color: #ffe0b2;
  margin-bottom: 15px;
}

.blog-quote {
  font-style: italic;
  color: #d7ccc8;
  border-left: 4px solid #a1887f;
  padding-left: 15px;
  margin: 15px 0;
}

.blog-text {
  line-height: 1.7;
}


/* 
    Media query for scrren size less than or equal to 768px (Mainly for phone).
*/
@media (max-width: 768px) {

    /* 
        Hides the navigation links by default.
        Changes the direction of the links to column.
        Positions the links below the navigation bar.
        Adds background color, padding, border-radius and box-shadow for better visibility.
    */
    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: rgb(200, 179, 153);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* 
        Changed the font size to 18px.
    */
    nav {
        font-size: 18px;
    }

    /* 
        Changed the display to block.
        Changed the cursor to pointer.
        Changed the font size to 24px.
    */
    #hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    section > h2 {
        font-size: 20px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text, .einstein-tongue-out-image {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 970px) {
    .publication-files-container {
        display: none;
    }

    .left-right-publication {
        display: none;
    }

    .publication-files-links-container {
        display: block;
    }
}